<div class="container">

  <h2 class="title-lg mb"> Редактирование вопроса <%= @question.user_id%></h2>

  <%= render 'form', question: @question %>
  
  <p class="mt">
    <%= link_to "Отменить", question_path(@question), class: 'button button-main' %>
  </p>

</div>