<div class="container">

  <h2 class="title-lg mb"> Вопросы </h2>

  <div class="mb">
    <%= link_to "Создать новый вопрос", new_question_path, class: 'button button-main' %>
  </div>

  <% @questions.each do |item| %>
    <p class="mb-sm"><%= link_to "Вопрос #{item.user_id}", question_path(item.id) %></p>
  <% end %>

</div>