/*
* Имя layout выбрано произвольно. Никаго отношения к соглашениям оно не имеет
*/

body {
  background: #220d06;
  justify-content: center;
  display: flex;
}

.wrapper {
  max-height: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #fff;
}

.container, .navbar{
  padding: 20px;
}

.navbar{
  align-items: center;
  background-color: #370617;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
}